<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">

	.col-md-3{
		border:2px solid #30AED3;
		text-align: center;
		word-wrap:break-word;
	}

	.secla{
		border:1px solid #aaa;
		height: 110px;
		overflow-y: scroll; 
	}
	textarea {
		resize:none;
	}
	ol{
		vertical-align: bottom;
	}
	.secbox{
		height:109px;
		width:258px;
	}

	</style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/jquery.jscroll.js"></script>
	<script src="/javascripts/jquery.simplyCountable.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">


	$(document).ready(function(){

		var box = $('.secla').position();
		console.log(box);

		var inside = $('.secla').innerHeight();
		console.log(inside)

		function maxLength(el) {    
			if (!('maxLength' in el)) {
				var max = el.attributes.maxLength.value;
				el.keyup = function () {
					if (this.value.length >= max) return false;
				};
			}
		}

		maxLength(document.getElementById("texs"));
		
		function updateCountdown() {
    		// 150 is the max message length
    		var remaining = 150 - $('#texs').val().length;
    		$('.countdown').text(remaining + ' characters remaining');

    	}

    	var count = 0;
    	$(secs).click(function(){
				// event.preventDefault(); <-- prevents the page from reloading on sumbission 
				count++;
				var fusec =	$('#texs').val();
				$('#fus').append("<div class='col-md-3 secbox'><p id='awesome"+count+"''>"+fusec+"</p></div>")
				$('#texs').val('');
				var remaining = 150 - $('#texs').val().length;
				$('.countdown').text(remaining + ' characters remaining')
				$('#secs').prop('disabled', true);
				return false;
			})

    	$('.secla').scroll(function(){
    		var divPos = $('.secbox').position();
    		console.log(box).top;
    		console.log(divPos.top+90);
    		if(divPos.top+90 === box.top){
    			$('.secbox').fadeOut();
    			$('.secbox').on('fadeOut', function(){
    				$('.secbox').remove();
    			})
    			console.log(this);
    		}
    	});


	    // 		var pos = $('.secbox:last').position();
	    // 		var hos = $('.secbox:last').height();
	    // 		var wos = $('.secbox:last').width();
					// console.log(pos)
					// console.log(hos)
					// console.log(wos)
				// var link = $('.secla');

				// var offset = link.offset();
				// var top = offset.top;
				// var left = offset.left;
				// var bottom = $('#secbox').height() - link.height();
				// bottom = bottom - offset.top;
				// var right = $('#secbox').width() - link.width();
				// right =  right - offset.left;
				
				// console.log(bottom);
				// console.log(right);

				// $('#fus').find('.secbox').first().fadeOut();
				// console.log('scrolled');
    	// });


$('#secrets').on('click' , function() {
	if( $.trim($('#texs').val()).length > 0 ){
		$('#secs').prop('disabled', false);
	}
	else {
		$('#secs').prop('disabled', true);
	}

});

   //  	$(fus).delegate(".secbox", "click", function(e){
   //  		e.target.parentNode.remove();
			// })
$('#fus').jscroll();

updateCountdown();
$('#texs').change(updateCountdown);
$('#texs').keyup(updateCountdown);

});

$('#refresh').click(function() {
	location.reload();
});

</script>
</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id='refresh' class="navbar-brand" href="">Secrets...</a>
			</div>
		<!-- 	<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-info">Sign in</button>
					<button type="submit" class="btn btn-danger">Sign up</button>
				</form> -->
			</div><!--/.navbar-collapse -->
		</div>
	</div>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">		
			<h1 align='center'>Don't Blink</h1>
			<p align='center'>Secrets below disappear as you scroll</p>
		</div>

		<form align='center' id='secrets'>
			Secret: 
			<div><textarea maxlength="150" name='texs' id='texs'></textarea></div>
			<span class="countdown"></span>
			<div><button id='secs' type='submit' class='btn btn-info' value='submit' disabled>Submit Secret</button></div>
		</form>

	</div>

	<div class="container secla">
		<!-- Example row of columns -->
		<div id='fus' class="row"></div>

	</div> <!-- /container -->
	<ol align='center' class="breadcrumb">
		<li><a href="https://www.youtube.com/watch?v=jKXLkWrBo7o">Don't...blink</a></li>
	</ol>


	